body {
    margin: 0;
}

.hero {
    position: relative;
    min-height: 100vh;
    background-image: url("img/faded-office.png");
    background-size: cover;
}

.fade {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
}

.container {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    color: #020202;
    position: relative;
    padding: 80px;
    width: 430px;
    text-align: left;
}

.underline {
    border-bottom: 4px solid #0ea5e9;
}

.chat-button {
    margin-top: 20px;
    background-color: #0ea5e9;
    font-size: 32px;
    color: white;
    border: none;
    padding: 20px 40px;
}

h1 {
    margin-top: 0;
}